<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>17/07/21 13:08:08</td>   <td>0</td> <td title="&gt;&gt;BrowserInitialization.loadObjectsPropertiesFromExcel()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_1320510_GLOBAL_DCR_TAM_TAM_Group_Exist_Happy_Path_UI@724af044]">&gt;&gt;loadObjectsPropertiesFromExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/07/21 13:08:08</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserInitialization.setBrowser()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_1320510_GLOBAL_DCR_TAM_TAM_Group_Exist_Happy_Path_UI@724af044]">&gt;&gt;setBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1547425104</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>17/07/21 13:08:08</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_1320510_GLOBAL_DCR_TAM_TAM_Group_Exist_Happy_Path_UI.validate_TC_1320510_GLOBAL_DCR_TAM_TAM_Group_Exist_Happy_Path_UI()[pri:0, instance:com.dell.delta_uat_automation.testcases.TC_1320510_GLOBAL_DCR_TAM_TAM_Group_Exist_Happy_Path_UI@724af044]">validate_TC_1320510_GLOBAL_DCR_TAM_TAM_Group_Exist_Happy_Path_UI</td> 
  <td>main@1547425104</td>   <td></td> </tr>
</table>
